<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="http://localhost:3000/img/logo.png" type="image/x-icon">
    <link rel="stylesheet" href="http://localhost:3000/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://localhost:3000/css/bootstrap-icons.min.css">
    <link rel="stylesheet" href="http://localhost:3000/css/fonts.css">
    <link rel="stylesheet" href="http://localhost:3000/css/index.css">
    <title>AENUM - Admin</title>
</head>
<body>
    <div class="container py-5">
        <div class="form-box">
            <h4 class="mb-4 text-center font-montserrat">
                <i class="bi bi-person-circle me-2"></i>Connexion ADMIN sur AENUM
            </h4>
            <div th:if="${error}" class="alert alert-danger text-center" role="alert">
                <span th:text="${error}"></span>
            </div>
    
            <form action="/login" method="post">
                <div class="mb-3">
                    <label for="email" class="form-label font-lora-bold">Email</label>
                    <input type="email" class="form-control font-lora" id="email"
                           value="admin@gmail.com" name="email" required>
                </div>
                <div class="mb-3">
                    <label for="motDePasse" class="form-label font-lora-bold">Mot de passe</label>
                    <div class="input-group">
                        <input type="password" class="form-control font-lora" id="pwd"
                               value="admin" name="motDePasse" required>
                        <span class="input-group-text">
                            <input type="checkbox" id="togglePwd" title="Afficher/Masquer">
                        </span>
                    </div>
                </div>
                <button type="submit" class="btn btn-success w-100 mt-3 font-montserrat-bold">
                    <i class="bi bi-box-arrow-in-right me-1"></i>Se connecter
                </button>
            </form>
        </div>
    </div>    

    <script src="http://localhost:3000/js/toggle-pwd.js"></script>
    <script src="http://localhost:3000/js/bootstrap.bundle.min.js"></script>
</body>
</html>
