<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
         version="5.0">

    <servlet>
        <servlet-name>FrontController</servlet-name>
        <servlet-class>ituprom16.controllers.FrontController</servlet-class>
        <init-param>
            <param-name>controller</param-name>
            <param-value>com.controllers</param-value>  <!-- Package des contrôleurs -->
        </init-param>
        <multipart-config>
            <max-file-size>10485760</max-file-size>  <!-- 10MB -->
        </multipart-config>
    </servlet>

    <servlet-mapping>
        <servlet-name>FrontController</servlet-name>
        <url-pattern>/</url-pattern>  <!-- Toutes les requêtes passent par le FrontController -->
    </servlet-mapping>

    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>